.grid-table-container {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid #ccc;
  width: 100%;
  /* max-width: 600px; */
  margin: 0 auto;
}

.grid-table-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  display: contents;
  /* Make the header part of the grid */
}

.grid-table-body {
  display: contents;
  /* Make the body part of the grid */
  max-height: 512px;
  /* Set a fixed height for the table body */
  overflow-y: auto;
  /* Add vertical scrollbar */
}

.grid-table-row {
  display: contents;
  /* Make the rows part of the grid */
}

.grid-table-cell {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.grid-table-cell:first-child {
  justify-content: center;
}

/* .grid-table-cell:last-child {
  justify-content: flex-end;
}
 */
.grid-table-cell-clickable {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.grid-table-cell-clickable:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

.grid-table-cell-clickable:focus {
  outline: none;
  background-color: #e0e0e0; /* Slightly darker gray background on focus */
}

.credit-card-statement-grid-table-container {
  display: grid;
  grid-template-columns: 60px 90px 100px 1fr 40px 1fr 1fr 1fr 40px 1fr 1fr 1fr;
  border: 1px solid #ccc;
  width: 100%;
  margin: 0 auto;
}

.checking-account-statement-grid-table-container {
  display: grid;
  grid-template-columns: 60px 90px 100px 1fr 40px 1fr 40px 1fr 1fr 1fr 1fr;
  border: 1px solid #ccc;
  width: 100%;
  margin: 0 auto;
}

